<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tienda"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhM3N2djgZDDlRgkq7KBx26t9XYtqQyYI"/>

        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:exported="false"/>
        <activity android:name=".Activities.LogInActivity"
            android:exported="false"/>
        <activity android:name=".Activities.RegistroActivity"
            android:exported="false"/>
        <activity android:name=".Activities.ProductActivity"
            android:exported="false"/>
        <activity android:name=".Activities.CarActivity"
            android:exported="false"/>
        <activity android:name=".Activities.MapActivity"
            android:exported="false"/>
        <activity android:name=".Activities.CuentaActivity"
            android:exported="false"/>
        <activity android:name=".Activities.VerUsuariosActivity"
            android:exported="false"/>
        <activity android:name=".Activities.CrearUsuarioActivity"
            android:exported="false"/>
        <activity android:name=".Activities.UsuariosAdminActivity"
            android:exported="false"/>
        <activity android:name=".Activities.ActualizarUsuarioActivity"
            android:exported="false"/>
        <activity android:name=".Activities.BuscarUnUsuario"
            android:exported="false"/>
        <activity android:name=".Activities.ProductoAdminActivity"
            android:exported="false"/>
        <activity android:name=".Activities.CrearProducto"
            android:exported="false"/>
        <activity android:name=".Activities.ActualizarProductoActivity"
            android:exported="false"/>
        <activity android:name=".Activities.VerProductosActivity"
            android:exported="false"/>
        <activity android:name=".Activities.BuscarUnProducto"
            android:exported="false"/>

    </application>

</manifest>